---
title: nathantranquilla.me
relativeRoot: ./
---
<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2"/>
    <meta name="theme-color" content="#ffffff">
    <meta name="Description" content="{{ title }} - {{ date }}">

    <!-- fonts and stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ relativeRoot }}assets/stylesheets/index.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ relativeRoot }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ relativeRoot }}favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ relativeRoot }}favicon-16x16.png">
    <link rel="manifest" href="{{ relativeRoot }}site.webmanifest">

    <script type="text/javascript" src="{{ relativeRoot }}assets/js/critical.bundle.js"></script>
    <script defer type="text/javascript" src="{{ relativeRoot }}assets/js/deferable.bundle.js"></script>

    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("{{ relativeRoot }}sw.js");
    </script>
  </head>
  <body>
    <div id="root">
      <lbwc-app-bar>
        <img slot="logo" src="{{ relativeRoot }}assets/img/logo.png" height="22" width="210" style="margin:10px 0 6px 0" alt="logo"/>
        {% for nav in collections.nav %}
          <lbwc-nav-link role="link" slot="nav-links" href="{{nav.url}}">{{nav.data.name}}</lbwc-nav-link>
        {% endfor %}
      </lbwc-app-bar>
      <main>
        {{ content | safe }}
        {% if includeIndex %}
            {% if content %} <hr/> {% endif %}
            <lbwc-index-page role="list" title="Posts"> 
            {% for post in collections.post | reverse %}
              <lbwc-list-entry 
                role="listitem"
                title="{{post.data.title}}"
                href="{{post.url}}"
                date="{{post.date.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' })}}"
                teaser="{{post.data.teaser}}">
                {% for tag in post.data.tags | tagExclude("post") %}
                  <lbwc-tag role="link" href="/collections/{{ tag | slug }}" name="{{tag}}"></lbwc-tag>
                {% endfor %}
              </lbwc-list-entry>
            {% endfor %}
            </lbwc-index-page>
        {% endif %}
      </main>
    </div>
  </body>
    
</html>