---
title: nathantranquilla.me
relativeRoot: ./
---
<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- fonts and stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ relativeRoot }}assets/stylesheets/index.css" />

    <script type="text/javascript" src="{{ relativeRoot }}assets/js/critical.bundle.js"></script>
    <script defer type="text/javascript" src="{{ relativeRoot }}assets/js/deferable.bundle.js"></script>

  </head>
  <body>
    <div id="root">
      <lbwc-app-bar 
          mult=4
          nav-links="{% for nav in collections.nav %}{{nav.data.title}}:{{nav.url}};{% endfor %}">
        <img src="{{ relativeRoot }}assets/img/logo.png" height="22" width="210" style="padding-top: 2.5px"/>
      </lbwc-app-bar>
      <main>
        {{ content | safe }}
        {% if includeIndex %}
            {% if content %} <hr/> {% endif %}
            <lbwc-index-page 
                title="Posts" 
                posts="{% for post in collections.post | reverse %}title:{{post.data.title}};href:{{post.url}};date:{{post.date.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' }) }};teaser:{{post.data.teaser}};;{% endfor %}"
            </lbwc-index-page>
        {% endif %}
      </main>
    </div>
  </body>
    
</html>