---
layout: main.njk
relativeRoot: ../../
---
<lbwc-article title="{{ title }}" tags="{% for tag in tags | strExclude("blog") %}name:{{tag}};href:/collections/{{tag | slug}};;{% endfor %}" date="{{ date.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' }) }}">
    {{ content | safe }}
</lbwc-article>