---
layout: main.njk
relativeRoot: ../../
tags: post
---
<lbwc-article title="{{ title }}" date="{{ date.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' }) }}">
    {{ content | safe }}
</lbwc-article>