---
layout: main.njk
pagination:
    data: categories
    size: 1
    alias: tag
permalink: "/collections/{{ tag.name | slug }}/"
relativeRoot: ../../../
eleventyExcludeFromCollections: true
description: Lists posts on a topic
---  
<template id="ie-message">
    <span>Please use a modern browser to view this page's content :)</span>
</template>
<lbwc-index-page>
{% set collection = tag.tag %}
{% for post in collections[collection] | reverse %}
<div class="template-holder">
    <template>
        <lbwc-list-entry 
            title="{{post.data.title}}"
            href="{{post.url}}"
            date="{{post.date.toLocaleDateString(undefined, { year: 'numeric', month: 'short', day: 'numeric' })}}"
            teaser="{{post.data.teaser}}">
        </lbwc-list-entry>
    </template>
</div>
{% endfor %}
</lbwc-index-page>

<script src="{{ relativeRoot }}assets/js/collection.bundle.js"></script>
